@import "../../../node_modules/bootstrap/scss/bootstrap";

.container {
  padding-top: 20px
}

.list-group-item {
  &.v-link-active,
  &.v-link-active:hover,
  &.v-link-active:focus {
    z-index: 2;
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;
  }
}